.app {
    text-align: center;
}

.appHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 24px;
}

.appLogo {
    /* 值10vmin表示元素的高度将设置为视口宽度和高度中较小值的10%。vmin是一个相对单位，它依赖于视口的尺寸，
    因此，使用vmin可以使元素的尺寸适应不同大小的屏幕，增强了页面的响应式设计能力。 */
    height: 10vmin;
    /* 鼠标事件（如点击、悬停等）将“穿透”该元素，影响到它下面的元素，而不是该元素本身。 */
    pointer-events: none;
}

/*这个媒体查询检查用户是否设置偏好减少动画。如果用户没有设置减少动画的偏好，则应用内部的样式规则。*/
@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        /*这行代码为 .appLogo 元素应用了一个名为 App-logo-spin 的动画。动画将无限次循环，每次持续 20 秒，
        并以线性方式进行。这意味着动画的速度在整个过程中保持一致。*/
        animation: App-logo-spin_gallery infinite 20s linear;
    }
}

@keyframes App-logo-spin_gallery {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h1 {
    /* 引入字体文件 */
    font-family: 'Slidefu';
    font-size: 72px;
}

.robotList {
    width: 85vw; /* 表示视口的85%，就是浏览器窗口的宽度 */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4列 */
    grid-gap: 20px; /* 间距 */
    /* 老师使用macos小屏幕看起来居中了，但是换到分辨率大的屏幕上是没居中的，效果不美观，因此建议加上这句代码 */
    margin: 0 auto;
}