/* tabbar */
.tabbar {
  /* display: flex; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;

  height: 100%;
  background-color: #f6f6f6;
  font-size: 14px;
}

.tabbar-item {
  /* flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  color: #c2cfcc;
}
.tabbar-item-active {
  background-color: #e7f3f0;
  color: #00b38a;
}

.tabbar-item .iconfont {
  font-size: 20px;
}
